<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Michael Lubow Weather App</title>
  <link rel="stylesheet" href="/client/dist/css/vendor.css" />
  <link rel='stylesheet' href='/client/dist/css/app.css' />
</head>
<body>
  <div class="container">

  </div>
<script src="/client/src/js/jquery-2.2.0.min.js"></script>
<script src="/client/src/js/main.js"></script>
</body>
</html>