<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Michael Lubow Weather App</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/client/dist/css/vendor.css" />
  <link rel='stylesheet' href='/client/dist/css/app.css' />
</head>
<body>
<div class="container">
  <div class="imageContainer">
    <input type="text" class="locationName typeahead" placeholder="Location" value="New York, NY"/>
    <button class="weatherRetriever"><i class="fa fa-search"></i></button>
    <div class="currentConditions">
      <div class="tempContainer">
        <div class="temp">85&deg;</div>
        <div class="icon"><i class="wi wi-day-sunny"></i></div>
      </div>
      <div class="date"></div>
    </div>
  </div>
  <div class="weatherInfo">
    <!--<div class="currentConditions">-->
      <!--<div class="temp">85&deg;</div>-->
    <!--</div>-->
    <div class="forecast">
      <div class="dayForecast">
        <div class="day">Monday</div>
        <div class="icon"><i class="wi wi-day-sunny"></i></div>
        <div class="temp">65&deg;</div>
      </div>
      <div class="dayForecast">
        <div class="day">Tuesday</div>
        <div class="icon"><i class="wi wi-day-cloudy"></i></div>
        <div class="temp">65&deg;</div>      </div>
      <div class="dayForecast">
        <div class="day">Wednesday</div>
        <div class="icon"><i class="wi wi-day-rain"></i></div>
        <div class="temp">65&deg;</div>      </div>
      <div class="dayForecast">
        <div class="day">Thursday</div>
        <div class="icon"><i class="wi wi-day-showers"></i></div>
        <div class="temp">65&deg;</div>
      </div>
      <div class="dayForecast">
        <div class="day">Friday</div>
        <div class="icon"><i class="wi wi-day-sunny-overcast"></i></div>
        <div class="temp">65&deg;</div>
      </div>
    </div>
  </div>

</div>
<script src="/client/src/js/jquery-2.2.0.min.js"></script>
<script src="/client/src/js/typeahead.bundle.min.js"></script>
<script src="/client/src/js/city_data.js"></script>
<script src="/client/src/js/main.js"></script>
</body>
</html>