<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Michael Lubow Weather App</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/client/dist/css/vendor.css" />
  <link rel='stylesheet' href='/client/dist/css/app.css' />
</head>
<body>
<div class="container">
  <div class="imageContainer clear">
    <input type="text" class="locationName typeahead" placeholder="Location" value="New York, NY"/>
    <button class="weatherRetriever"><i class="fa fa-search"></i></button>
    <div class="geoLocationContainer">
      <div class="message">Find Your Weather!</div>
      <button class="userGeolocation animated"><i class="fa fa-map-marker" aria-hidden="true"></i></button>
    </div>
    <div class="currentConditions">
      <div class="tempContainer">
        <div class="temp">-</div>
        <div class="icon"><i class="wi"></i></div>
      </div>
      <div class="date"></div>
    </div>
  </div>
  <div class="weatherInfo">
    <div class="forecast"></div>
  </div>
</div>
<template id="dayForecastTemplate">
  <div class="dayForecast">
    <div class="day"></div>
    <div class="icon"><i class="wi"></i></div>
    <div class="temp"><span class="max"></span><span class="divider">/</span><span class="min"></span></div>
  </div>
</template>
<script src="/client/src/js/jquery-2.2.0.min.js"></script>
<script src="/client/src/js/typeahead.bundle.min.js"></script>
<script src="/client/src/js/city_data.js"></script>
<script src="/client/src/js/constants.js"></script>
<script src="/client/src/js/main.js"></script>
</body>
</html>