//breakpoints
$desktop: 		  "screen and (max-width: 3000px) and (min-width: 1026px)";
$tabletLarge: 	  "screen and (max-width: 1025px) and (min-width: 728px)";
$tabletLargeLandscape:  "screen and (max-width: 1025px) and (min-width: 911px)";
$tabletLargePortrait:   "screen and (max-width: 910px) and (min-width: 728px)";
$tabletSmall: 	  "screen and (max-width: 727px) and (min-width: 560px)";
$mobile: 		  "screen and (max-width: 559px)";

$tablet: 		  "screen and (max-width: 1025px) and (min-width: 560px)";
$tablet-medium:   "screen and (max-width: 900px)";
$non-mobile: 	  "screen and (max-width: 3000px) and (min-width :728px)";
$mobileSmall: 	  "screen and (max-width: 375px)";

