@import 'variables';
@import 'app_globals';
@import "custom_animations";
@import "proximanova";
@import "bourbon";
@import "neat";

*{
  //transition: 1s all;
  &.hidden{
    display: none !important;
  }
  &.noTransition{
    transition: none !important;
  }
  &.noAnimation{
    animation: none !important;
  }
  &.userSelect{
    -moz-user-select: all !important;
    -webkit-user-select: all !important;
    -ms-user-select: all !important;
    user-select: all !important;
  }
  &.noUserSelect{
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }
}

html {
  box-sizing: border-box;
  background: radial-gradient(circle at 2.02% 9.01%, #054552, transparent 100%),radial-gradient(circle at 98.13% 87.75%, #030633, transparent 100%),radial-gradient(circle at 69.93% 36.76%, #1fff87, transparent 53%),radial-gradient(circle at 20.49% 80.28%, #fafafa, transparent 100%),radial-gradient(circle at 97.57% 6.48%, rgba(255,255,255,0.5), transparent 100%),radial-gradient(circle at 50% 50%, #e86e79, #e86e79 100%);
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body{
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: white;
}

body:before {
  content: "desktop";
  display: none;
  @media #{$mobile}{
    content: "mobile";
  }
  @media #{$tabletSmall}{
    content: "tabletSmall";
  }
  @media #{$tabletLargePortrait}{
    content: "tabletLargePortrait";
  }
  @media #{$tabletLargeLandscape}{
    content: "tabletLargeLandscape";
  }
  @media #{$tabletLarge}{
    content: "tabletLarge";
  }
  @media #{$desktop}{
    content: "desktop";
  }
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 700px;
  .container {
    max-width: 1400px;
    width: 80%;
    height: 80%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    @media #{$mobileSmall}{
      height: 90%;
    }
    .imageContainer{
      @include span-columns(12);
      height: 75%;
      background-size: cover;
      position: relative;
      background-blend-mode: soft-light;
      background-color: #8A8989;
      @media #{$mobileSmall}{
        height: 60%;
      }
      &.clear{
        background-image: url('/img/clear.jpg');
      }
      &.cloudy{
        background-image: url('/img/clouds.jpg');
      }
      &.rain{
        background-image: url('/img/rain.jpg');
      }
      &.snow{
        background-image: url('/img/snow.jpg');
      }
      &.fog{
        background-image: url('/img/fog.jpg');
      }
      &.thunderstorms{
        background-image: url('/img/thunderstorms.jpg');
      }
      .searchContainer {
        z-index: 100;
        @media #{$mobile}{
          position: absolute;
          width: 80%;
          top: 10%;
          left: 50%;
          transform: translateX(-50%);
        }
        //typeahead overrides
        .twitter-typeahead {
          width: 100% !important;
          @media #{$mobile}{
            width: calc(100% - 53px) !important;
          }
          .tt-hint {
            left: auto !important;
            right: 0 !important;
          }
          .tt-input {
            position: absolute !important;
            right: 0 !important;
          }
          .tt-menu{
            @include span-columns(3.1 of 12);
            right: 0 !important;
            top: 67px !important;
            left: auto !important;
            background-color: rgba(0, 0, 0, 0.4);
            border-top: 1px solid white;
            margin-right: 2.35765% !important;
            @media #{$mobile}{
              position: static !important;
              width: 100%;
            }
          }
          .tt-suggestion{
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
          }
        }
        .weatherRetriever{
          position: absolute;
          right: 26.5%;
          top: 35px;
          background-color: rgba(0, 0, 0, 0.5) !important;
          width: 53px;
          height: 48px;
          border: none;
          border-right: 2px solid #ccc;
          outline: none;
          font-size: 1.8em;
          transition: 0.5s background-color;
          &:hover{
            background-color: rgba(0, 0, 0, 0.8) !important;
          }
          @media #{$mobile}{
            position: static;
            float: left;
            background-color: rgba(0, 0, 0, 0.4) !important;
            font-size: 25px;
          }
        }
        .locationName {
          @include span-columns(3.1 of 12);
          float: right;
          font-size: 30px;
          height: 48px;
          font-style: italic;
          margin-top: 20px;
          background-color: rgba(0, 0, 0, 0.3) !important;
          padding-left: 10px;
          padding-right: 10px;
          border: none;
          color: white;
          outline: none;
          border-radius: 0 !important;
          @media #{$mobile}{
            position: relative !important;
            top: 0 !important;
            left: 0 !important;
            width: 100% !important;
            margin-right: 0 !important;
            margin-top: 0;
            background-color: rgba(0, 0, 0, 0.2) !important;
            font-size: 25px;
          }
          @media #{$mobileSmall}{
            font-size: 22px;
          }
        }
      }
      .geoLocationContainer {
        position: absolute;
        right: 2%;
        top: 21%;
        display: flex;
        align-items: center;
        justify-content: center;
        @media #{$mobile}{
          right: 8%;
          top: 22%;
        }
        .message{
          opacity: 0;
          transition: 1s all;
          margin-right: 10px;
          transform: translateX(50px);
          position: relative;
          @media #{$mobile}{
            margin-top: -20px;
          }
          @media #{$mobileSmall}{
            display: none;
          }
          &.show{
            opacity: 1;
            transform: translateX(0);
          }
        }
        .userGeolocation {
          border: none;
          outline: none;
          background-color: transparent;
          font-size: 2.5em;
          position: relative;
          z-index: 2;
        }
      }
      .currentConditions{
        position: absolute;
        bottom: 0;
        left: 4%;
        @media #{$mobile}{
          bottom: auto;
          left: 50%;
          top: 54%;
          transform: translateX(-50%) translateY(-25%);
        }
        .tempContainer {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: -20px;
          @media #{$mobile}{
            flex-direction: column;
          }
          .temp {
            font-size: 12em;
            float: left;
            @media #{$mobile}{
              font-size: 10em;
              padding-left: 17%;
            }
            @media #{$mobileSmall}{
              font-size: 8em;
              padding-left: 12%;
            }
            &::after{
              content: "\00b0";
            }
          }
          .icon {
            float: left;
            font-size: 8em;
            margin-top: 15px;
            @media #{$mobile}{
              font-size: 4em;
              margin-top: 0;
              position: absolute;
              top: -27%;
              left: 38%;
            }
            @media #{$mobileSmall}{
              top: -33%;
              left: 33%;
            }


              i{
                $rainColor: #8BD1E8;
                $lightningColor: #EFEF93;
                $snowColor: white;
                $hazeColor: #ECEBEB;
                $sunnyColor: #FFF782;
                &.wi-own-200, &.wi-own-201, &.wi-own-202, &.wi-own-230, &.wi-own-231, &.wi-own-232{//thunderstorm
                  color: $lightningColor;
                }
                &.wi-owm-210, &.wi-owm-211, &.wi-owm-212, &.wi-owm-221{//lightning
                  color: $lightningColor;
                }
                &.wi-owm-300, &.wi-owm-301, &.wi-owm-321, &.wi-owm-500{//sprinkle
                  color: $rainColor;
                }
                &.wi-owm-302, &.wi-owm-311, &.wi-owm-312, &.wi-owm-314, &.wi-owm-501, &.wi-owm-502, &.wi-owm-503, &.wi-owm-504{//rain
                  color: $rainColor;
                }
                &.wi-owm-310, &.wi-owm-511, &.wi-owm-611, &.wi-owm-612, &.wi-owm-615, &.wi-owm-616, &.wi-owm-620{//rain-mix
                  color: $rainColor;
                }
                &.wi-owm-313, &.wi-owm-520, &.wi-owm-521, &.wi-owm-522, &.wi-owm-701{//showers
                  color: $rainColor;
                }
                &.wi-owm-531, &.wi-owm-901{//storm-showers
                  color: $lightningColor;
                }
                &.wi-owm-600, &.wi-owm-601, &.wi-owm-621, &.wi-owm-622{//snow
                  color: $snowColor;
                }
                &.wi-owm-602{//sleet
                  color: $snowColor;
                },
              &.wi-owm-711{//smoke
                color: $hazeColor;
              },
              &.wi-owm-721{//day-haze
                color: $hazeColor;
              }
                &.wi-owm-731, &.wi-owm-761, &.wi-owm-762{//dust
                  color: $hazeColor;
                },
              &.wi-owm-741{//fog
                color: $hazeColor;
              }
                &.wi-owm-771, &.wi-owm-801, &.wi-owm-802, &.wi-owm-803{//cloudy-gusts
                  color: $hazeColor;
                }
                &.wi-owm-781, &.wi-owm-900{//tornado
                  color: $hazeColor;
                }
                &.wi-owm-800 {//day-sunny
                  color: $sunnyColor;
                }
                &.wi-owm-804 {//cloudy
                  color: $hazeColor;
                }
                &.wi-owm-902{//hurricane
                  color: $rainColor;
                }
                &.wi-owm-903{//snowflake-cold
                  color: $snowColor;
                }
                &.wi-owm-904 {//hot
                  color: $sunnyColor;
                }
                &.wi-owm-905 {//windy
                  color: $hazeColor;
                }
                &.wi-owm-906 {//hail
                  color: $snowColor;
                }
                &.wi-owm-957 {//strong-wind
                  color: $hazeColor;
                }
              }
            }
          }
          .date{
            text-align: center;
            font-size: 22px;
            margin-bottom: 15px;
            @media #{$mobile}{
              margin-left: -5%;
              margin-top: 7%;
            }
          }
        }
      }
      .weatherInfo{
        @include span-columns(12);
        height: 25%;
        padding: 15px;
        @media #{$mobile}{
          height: auto;
        }
        .forecast{
          @include span-columns(12 of 12);
          height: 100%;
          .dayForecast{
            @include span-columns(2.4 of 12);
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100%;
            text-align: center;
            transition: 0.5s transform;
            @media #{$mobile}{
              width: 100%;
              flex-direction: row;
              height: 50px;
            }
            &:hover{
              transform: scale(1.1);
              @media #{$mobile}{
                transform: scale(1);
              }
            }
            .day{
              @media #{$mobile}{
                margin-right: 10px;
              }
            }
            .icon{
              font-size: 2em;
              margin-top: 10px;
              margin-bottom: 10px;
              @media #{$mobile}{
                margin-top: 0;
                margin-bottom: 0;
                margin-right: 10px;
              }
            }
            .temp{
              font-size: 1.2em;
              .max{
                &::after{
                  content: "\00b0";
                }
              }
              .divider{
                margin-left: 5px;
                margin-right: 5px;
              }
              .min{
                &::after{
                  content: "\00b0";
                }
              }
            }
          }
        }
      }
    }
  }