@import 'variables';
@import 'app_globals';
@import "custom_animations";
@import "proximanova";
@import "bourbon";
@import "neat";

*{
  //transition: 1s all;
  &.hidden{
    display: none !important;
  }
  &.noTransition{
    transition: none !important;
  }
  &.noAnimation{
    animation: none !important;
  }
  &.userSelect{
    -moz-user-select: all !important;
    -webkit-user-select: all !important;
    -ms-user-select: all !important;
    user-select: all !important;
  }
  &.noUserSelect{
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body{
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: white;
}

body:before {
  content: "desktop";
  display: none;
  @media #{$mobile}{
    content: "mobile";
  }
  @media #{$tabletSmall}{
    content: "tabletSmall";
  }
  @media #{$tabletLargePortrait}{
    content: "tabletLargePortrait";
  }
  @media #{$tabletLargeLandscape}{
    content: "tabletLargeLandscape";
  }
  @media #{$tabletLarge}{
    content: "tabletLarge";
  }
  @media #{$desktop}{
    content: "desktop";
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at 2.02% 9.01%, #054552, transparent 100%),radial-gradient(circle at 98.13% 87.75%, #030633, transparent 100%),radial-gradient(circle at 69.93% 36.76%, #1fff87, transparent 53%),radial-gradient(circle at 20.49% 80.28%, #fafafa, transparent 100%),radial-gradient(circle at 97.57% 6.48%, rgba(255,255,255,0.5), transparent 100%),radial-gradient(circle at 50% 50%, #e86e79, #e86e79 100%);
  .container {
    max-width: 1400px;
    width: 80%;
    height: 80%;
    //background-color: rgba(255, 255, 255, 0.3);
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    .imageContainer{
      @include span-columns(12);
      height: 75%;
      background-size: cover;
      position: relative;
      &.clear{
        background-image: url('/img/clear.jpg');
      }
      &.cloudy{
        background-image: url('/img/clouds.jpg');
      }
      &.rain{
        background-image: url('/img/rain.jpg');
      }
      &.snow{
        background-image: url('/img/snow.jpg');
      }
      &.fog{
        background-image: url('/img/fog.jpg');
      }
      &.thunderstorms{
        background-image: url('/img/thunderstorms.jpg');
      }
      .weatherRetriever{
        position: absolute;
        right: 297px;
        top: 35px;
        background-color: rgba(0, 0, 0, 0.3);
        width: 53px;
        height: 48px;
        border: none;
        border-right: 2px solid #ccc;
        outline: none;
        font-size: 1.8em;
      }
      //typeahead overrides
      .twitter-typeahead {
        width: 100% !important;
        .tt-hint {
          left: auto !important;
          right: 0 !important;
        }

        .tt-input {
          position: absolute !important;
          right: 0 !important;
        }
        .tt-menu{
          @include span-columns(3.1 of 12);
          right: 0 !important;
          top: 67px !important;
          left: auto !important;
          background-color: rgba(0, 0, 0, 0.4);
          border-top: 1px solid white;
          margin-right: 20px !important;
        }
        .tt-suggestion{
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 10px;
        }
      }



      .locationName{
        @include span-columns(3.1 of 12);
        float: right;
        font-size: 30px;
        height: 48px;
        font-style: italic;
        margin-top: 20px;
        margin-right: 20px !important;
        background-color: rgba(0, 0, 0, 0.3);
        padding-left: 10px;
        padding-right: 10px;
        border: none;
        color: white;
        outline: none;
      }
      .geoLocationContainer {
        position: absolute;
        right: 2%;
        top: 21%;
        display: flex;
        align-items: center;
        justify-content: center;
        .message{
          opacity: 0;
          transition: 1s all;
          margin-right: 10px;
          transform: translateX(50px);
          position: relative;
          &.show{
            opacity: 1;
            transform: translateX(0);
          }
        }
        .userGeolocation {
          border: none;
          outline: none;
          background-color: transparent;
          font-size: 2.5em;
          position: relative;
          z-index: 2;
        }
      }
      .currentConditions{
        position: absolute;
        bottom: 0;
        left: 4%;
        .tempContainer {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: -20px;
          .temp {
            font-size: 12em;
            float: left;
            &::after{
              content: "\00b0";
            }
          }
          .icon {
            float: left;
            font-size: 8em;
            margin-top: 15px;
            i.wi-day-sunny, i.wi-owm-800{
              color: #FFF782;
            }
          }
        }
        .date{
          text-align: center;
          font-size: 20px;
          margin-bottom: 15px;
        }
      }
    }
    .weatherInfo{
      @include span-columns(12);
      height: 25%;
      padding: 15px;
      //.currentConditions{
      //  @include span-columns(3 of 12);
      //  height: 100%;
      //  .temp{
      //    font-size: 60px;
      //  }
      //}
      .forecast{
        @include span-columns(12 of 12);
        height: 100%;
        .dayForecast{
          @include span-columns(2.4 of 12);
          // @include omega();
          height: 100%;
          text-align: center;
          //border-left: 1px solid white;
          &:hover{
            cursor: pointer;
            opacity: 0.8;
          }
          .day{

          }
          .icon{
            font-size: 2em;
            margin-top: 10px;
            margin-bottom: 10px;
          }
          .temp{
            font-size: 1.2em;
            .max{
              &::after{
                content: "\00b0";
              }
            }
            .divider{
              margin-left: 5px;
              margin-right: 5px;
            }
            .min{
              &::after{
                content: "\00b0";
              }
            }
          }
        }
      }
    }
  }
}